

.date_selector{
    float:left;
    
}

#first_row{
    color:white;
    background-color: #c60d0d;
}

@media screen and (max-width: 680px){
	/* Making the website responsive */

    .date_selector{
    float:none;
}
}





