<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Fitness Fox" content="">
  <meta name="Team 11" content="">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
  <title>View Workout</title>
<link rel= "stylesheet" type="text/css" href="ViewWorkout.css"/>
  <!-- Bootstrap core CSS -->
  <link href="../bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--&lt;!&ndash; social media icons &ndash;&gt;
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
-->
  <!-- Custom styles for homepage -->
  <link href="ViewTrainingLog.css" rel="stylesheet">
  <title>View Workout</title>
  <link rel= "stylesheet" type="text/css" href="admin.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
      <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
  
  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400i" rel="stylesheet">
  
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#from" ).datepicker();
      $( "#to" ).datepicker();
  } );
  </script>
  <style>
#aside {
  width:"30%";
  float: left;
}

#graph {
margin: 0 auto;
}

@media only screen and (max-width: 680px) {
 canvas {
 height: 250px; 
 width: 100%;
}
  }

  
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <img class="img-fluid d-block mx-auto" src="../static/logo.png" alt="logo" width="75" height="75" align="left">
      <a class="navbar-brand" href="#" style="font-family: 'IBM Plex Sans Condensed', sans-serif; font-weight: 700; font-size: 2em; color: red;">FITNESS FOX</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="homepage.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/homepage.html#resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/homepage.html#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/homepage.html#contact">Contact</a>
          </li>
          
      <li class="nav-item">
            <a class="nav-link" href="/Logout.html">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>

 
  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" >
    
  </header>
 


 <!-- Content section -->
  <section class="py-5">
    <div class="container">
       <h2>            Your Activity Log           </h2>
       <br>
       <br>
      <div id ="aside_section"> 
    
   
    
      <div id="aside">
      
      
     
      
           
       <!--     
            <p id="activity_date"><b>From (Date):   </b>&nbsp  &nbsp &nbsp<input type="text" id="activity_date_from"></p>
           <br>
      
       <p id="activity_date"><b>To (Date): </b> &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp<input type="text" id="activity_date_to"></p>
       <br>
       <p id= "activity_name"<input type="text"><b>Activity Name:   </b>&nbsp<input type="text" id="text"></p>
       
      
    <br>
       
       
            <p> <button type="button" class="btn btn-success">Submit</button></p>-->
    </div>
    <div id="graph">
  <p> <button onclick="location.href='/AddActivity.html'" type="button" class="btn btn-success">Add Workout</button>

  </p>
     <center>
    <h1>{{ title }}</h1>
  </center>
  <center>
  <h4>Activity Minutes</h4>
    <canvas id="chart" width= "600%" height="250%"></canvas>
    <script>
     
      var lineData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
  ],  
        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "#cc0000",//"rgba(151,187,205,1)",
          pointColor: "#cc0000",//"rgba(151,187,205,1)",
          data : [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
      ]
          }
        ]
      }
     // get Line chart canvas
     var mychart = document.getElementById("chart").getContext("2d");
       steps = 10
       max = {{max}}
     // draw Line chart
     new Chart(mychart).Line(lineData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );
    </script>
  </center>
        </div>  
    
        </div>  
       
    </div>
</section>
  <!-- Footer -->
  <div class="footer">
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 2019 | Team 11</p>
    </div>
    <!-- /.container -->
  </footer>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="../bootstrap/jquery/jquery.min.js"></script>
  <script src="../bootstrap/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>









