<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="Fitness Fox" content="">
  <meta name="Team 11" content="">


  <title>Fitness Fox</title>
<link rel= "stylesheet" type="text/css" href="/static/Manager_view.css"/>
  <!-- Bootstrap core CSS -->
  <link href="../static/bootstrap/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--&lt;!&ndash; social media icons &ndash;&gt;
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
-->
  <!-- Custom styles for homepage -->
  <link href="/static/homepage.css" rel="stylesheet">
	<title>Fitness Fox</title>
	<link rel= "stylesheet" type="text/css" href="/static/admin.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
	
	  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400i" rel="stylesheet">  
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
      <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/static//style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#from" ).datepicker();
      $( "#to" ).datepicker();
  } );
  </script>
</head>
<style>

datePickerId.max = new Date().toISOString().split("T")[0];
</style>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <img class="img-fluid d-block mx-auto" src="../static/logo.png" alt="logo" width="75" height="75" align="left">
      <a class="navbar-brand" href="#" style="font-family: 'IBM Plex Sans Condensed', sans-serif; font-weight: 700; font-size: 2em; color: red;">FITNESS FOX</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/AdminLogout.html">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>

 
  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" >
    
  </header>
 


 <!-- Content section -->
  <section class="py-5">
    <div class="container">
        
        <div class ="aside_section"> 
            <h2>
            Hello Admin!
            </h2>
            <p>
            Please select a date range to view workout history
            </p>
            <form method = "post" action= "">

           

            <div id="contents" >
            <p class="activity"><label for ="a">From Date:</label> <input type="date" required name="from_date" /> </p>
           
           <div id="contents" >
            <p class="activity"><label for ="a">&nbsp&nbsp&nbsp&nbsp&nbspTo Date:</label> <input type="date" required name="to_date" /> </p>
           <br>
             <button type="submit" class="btn btn-success" name = "submit"  >View User Log</button> 
             <br>
             <br>
             <br>
      <table class="table table-striped" width "10%">
			 <thead id="first_row">
			<tr>
				<th scope="col">Email</th>
				<th scope="col">FirstName</th>
				<th scope="col">LastName</th>
				<th scope="col">Activity Date</th>
				<th scope="col">Workout</th>
				<th scope="col">Minutes</th>
    </tr>
  </thead>
              <tbody>
                {% for row in myUser %}
                  <tr>
                      <td>{{row.User.emailDb }} </td>
					             <td>{{row.User.firstnameDb }} </td>
					             <td>{{row.User.lastnameDb }} </td>
                      <td>{{row.Workout.dateDb }}</td>
                      <td>{{row.Workout.activityDb }}</td>
                      <td>{{row.Workout.minutesDb }}</td>
                    </td>
                  </tr>
                {% endfor %}
               </tbody>
      </table>
            </form>
           

		<div class="admin_log">
<div class="scrollit">
   

</div>
        </div>
        
            <!--FOR EMPTY WHITE SPACE-->
  <div style="height: 50px;"></div>
        </div>
      </div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 2019 | Team 11</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/bootstrap/jquery/jquery.min.js"></script>
  <script src="../static/bootstrap/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
